@layer base {
  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
}
