@layer base {
  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue';
    src: url('../assets/fonts/base-neue/default/base-neue-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Condensed';
    src: url('../assets/fonts/base-neue/condensed/base-neue-condensed-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Condensed';
    src: url('../assets/fonts/base-neue/super-condensed/base-neue-super-condensed-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Expanded';
    src: url('../assets/fonts/base-neue/expanded/base-neue-expanded-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Wide';
    src: url('../assets/fonts/base-neue/wide/base-neue-wide-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-100.ttf')
      format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-100-italic.ttf')
      format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-200.ttf')
      format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-200-italic.ttf')
      format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-300.ttf')
      format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-300-italic.ttf')
      format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-400.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-400-italic.ttf')
      format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-500.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-500-italic.ttf')
      format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-600.ttf')
      format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-600-italic.ttf')
      format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-700.ttf')
      format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-700-italic.ttf')
      format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-800.ttf')
      format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-800-italic.ttf')
      format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-900.ttf')
      format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Base Neue Super Expanded';
    src: url('../assets/fonts/base-neue/super-expanded/base-neue-super-expanded-900-italic.ttf')
      format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
}
